@model PortfolioWebsite.Models.Comment
@using Microsoft.AspNetCore.Authorization
@using PortfolioWebsite.Constants
@inject IAuthorizationService AuthorizationService

<p>@Html.DisplayFor(model => model.Text)</p>

@*Show the user who created the comment as well as when the comment was created or last edited.*@
<h5>
    @Html.DisplayFor(model => model.User.UserName)
    - CREATED @Html.DisplayFor(model => model.CreateDate) UTC
    @if (Model.Edited)
    {
        @:- EDITED @Html.DisplayFor(model => model.EditDate) UTC
    }
    @if (Model.Deleted)
    {
        @:- DELETED @Html.DisplayFor(model => model.DeleteDate) UTC
    }
</h5>
